.benefits {
}

.benefits__list {
}

.benefits__item {
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.benefits__box {
  @include flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--btn-gallery-color);
}

.benefits__title {
  text-align: center;
  @include font(700, 14px, 1.14);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits__text {
  @include font(400, 14px, 1.71);
  color: var(--second-color);
}
