.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__span--color-blue {
  color: #2196f3;
}

.logo__text--color-white {
  color: #fff;
}
